Repository GURUDAS-DEV/BreathClean: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

feat: implement initial data processing server
  data-processing/server.py
Due: none

feat: Initialize Express server with basic middleware, configure strict TypeScript, and add CI/CD workflows for linting, formatting, and type checking.
  .github/workflows/format.yaml
  server/nodemon.json
  server/package-lock.json
  server/package.json
  server/src/index.ts
  server/tsconfig.json
Due: prettier --write, npm --prefix server run lint:fix --

feat: Designed Login page, implemented Proxy(Middleware) (#3)
  client/app/(public)/Login/LoginButtons.tsx
  client/app/(public)/Login/ThemeToggle.tsx
  client/app/(public)/Login/page.tsx
  client/app/(public)/layout.tsx
  client/app/(public)/page.tsx
  client/app/globals.css
  client/app/layout.tsx
  client/app/proxy.ts
Due: prettier --write, npm --prefix client run lint:fix --

feat: Implement Google OAuth authentication with user schema, database integration, and updated server configuration.
  client/app/favicon.ico
  server/package-lock.json
  server/package.json
  server/src/Schema/user.schema.ts
  server/src/controllers/oauth.controllers.ts
  server/src/index.ts
  server/src/routes/auth.routes.ts
  server/src/types/simply-auth.d.ts
  server/src/utils/connectDB.ts
  server/src/utils/userAdapter.ts
Due: prettier --write, npm --prefix server run lint:fix --

feat: Implement Google OAuth authentication with user schema, database integration, and updated server configuration.
  client/app/(public)/layout.tsx
  client/app/(public)/page.tsx
Due: prettier --write, npm --prefix client run lint:fix --

feat: Implement a new landing page, revamped login UI, and protected home route with supporting backend authentication.
  client/app/(private)/home/page.tsx
  client/app/(public)/Login/ThemeToggle.tsx
  client/app/(public)/Login/page.tsx
  client/app/globals.css
  client/app/layout.tsx
  client/app/page.tsx
  client/components/landing/CTA.tsx
  client/components/landing/Features.tsx
  client/components/landing/Footer.tsx
  client/components/landing/Hero.tsx
  client/components/landing/Navbar.tsx
  client/components/login/LoginBackground.tsx
  client/components/login/LoginButtons.tsx
  client/components/login/LoginCard.tsx
  client/components/login/LoginFooter.tsx
  client/middleware.ts
  client/next.config.ts
  server/src/controllers/oauth.controllers.ts
  server/src/routes/auth.routes.ts
Due: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

feat: Implement user profile page with dedicated API endpoint and token verification.
  client/app/(private)/profile/page.tsx
  client/components/profile/NotificationPreference.tsx
  client/components/profile/ProfileCard.tsx
  client/components/profile/SavedRoutes.tsx
  client/components/profile/types.ts
  client/eslint.config.mjs
  client/proxy.ts
  server/src/controllers/oauth.controllers.ts
  server/src/index.ts
  server/src/middleware/tokenVerify.ts
  server/src/routes/auth.routes.ts
  server/src/types/express.d.ts
Due: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

feat: integrate Mapbox for enhanced mapping functionality
  client/app/(private)/home/page.tsx
  client/app/(private)/layout.tsx
  client/components/home/HomeMap.tsx
  client/components/landing/Footer.tsx
  client/components/profile/ProfileCard.tsx
  client/package-lock.json
  client/package.json
  client/tsconfig.json
  client/types/global.d.ts
  server/src/middleware/tokenVerify.ts
Due: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

fix: remove error logging from token verification middleware response
  client/components/home/HomeMap.tsx
  server/src/middleware/tokenVerify.ts
Due: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

feat: Implement interactive map for selecting route source/destination points and define route data schema.
  client/components/home/HomeMap.tsx
  server/src/Schema/route.schema.ts
Due: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

feat: Implement interactive Mapbox map component for source and destination selection with search and geolocation.
  client/components/home/HomeMap.tsx
  client/package-lock.json
  client/package.json
Due: prettier --write, npm --prefix client run lint:fix --

feat: Minute Bug Update
  client/components/home/HomeMap.tsx
Due: prettier --write, npm --prefix client run lint:fix --

feat: implement interactive Mapbox map for location selection on the home page.
  client/app/(private)/home/page.tsx
  client/components/home/HomeMap.tsx
Due: prettier --write, npm --prefix client run lint:fix --

feat: implement route discovery, comparison, and map visualization with health insights.
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/app/layout.tsx
  client/components/home/HomeMap.tsx
  client/components/routes/InsightToast.tsx
  client/components/routes/MapControls.tsx
  client/components/routes/RouteComparisonPanel.tsx
  client/components/routes/RouteDiscoveryPanel.tsx
  client/components/routes/RouteMapBackground.tsx
  client/package-lock.json
  client/package.json
Due: prettier --write, npm --prefix client run lint:fix --

feat1: implement route discovery, comparison, and map visualization with proper routing
  client/app/(private)/home/routes/(from)/(to)/page.tsx
Due: prettier --write, npm --prefix client run lint:fix --

feat: Implement route discovery and comparison features with pollution insights and map integration.
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/components/home/HomeMap.tsx
  client/components/routes/InsightToast.tsx
  client/components/routes/MapControls.tsx
  client/components/routes/RouteComparisonPanel.tsx
  client/components/routes/RouteDiscoveryPanel.tsx
  client/components/routes/RouteMapBackground.tsx
Due: prettier --write, npm --prefix client run lint:fix --

feat: implement route discovery, comparison, and map visualization with health insights. (#8)
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/app/layout.tsx
  client/components/home/HomeMap.tsx
  client/components/routes/InsightToast.tsx
  client/components/routes/MapControls.tsx
  client/components/routes/RouteComparisonPanel.tsx
  client/components/routes/RouteDiscoveryPanel.tsx
  client/components/routes/RouteMapBackground.tsx
  client/package-lock.json
  client/package.json
Due: prettier --write, npm --prefix client run lint:fix --

feat: Implement route discovery, comparison, and saving features with Mapbox integration.
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/app/layout.tsx
  client/components/routes/RouteDiscoveryPanel.tsx
  client/components/saved-routes/RouteInsightsPanel.tsx
  client/components/saved-routes/SavedRouteCard.tsx
  client/components/saved-routes/SavedRoutesList.tsx
  client/components/saved-routes/SavedRoutesView.tsx
  client/components/ui/sonner.tsx
  server/src/Schema/route.schema.ts
  server/src/controllers/savedRoutes.controllers.ts
  server/src/index.ts
Due: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

feat: Implement route discovery, comparison, and saving features with Mapbox integration. (#9)
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/app/layout.tsx
  client/components/routes/RouteDiscoveryPanel.tsx
  client/components/saved-routes/RouteInsightsPanel.tsx
  client/components/saved-routes/SavedRouteCard.tsx
  client/components/saved-routes/SavedRoutesList.tsx
  client/components/saved-routes/SavedRoutesView.tsx
  client/components/ui/sonner.tsx
  server/src/Schema/route.schema.ts
  server/src/controllers/savedRoutes.controllers.ts
  server/src/index.ts
Due: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

feat: Add user profile page with detailed card, display saved routes, and introduce a route discovery panel.
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/app/(private)/profile/page.tsx
  client/app/layout.tsx
  client/components/home/HomeMap.tsx
  client/components/profile/ProfileCard.tsx
  client/components/profile/SavedRouteItemClient.tsx
  client/components/profile/SavedRoutes.tsx
  client/components/routes/RouteDiscoveryPanel.tsx
  client/components/saved-routes/SavedRoutesView.tsx
Due: prettier --write, npm --prefix client run lint:fix --

feat: Add user profile page with detailed card, display saved routes, and introduce a route discovery panel. (#10)
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/app/(private)/profile/page.tsx
  client/app/layout.tsx
  client/components/home/HomeMap.tsx
  client/components/profile/ProfileCard.tsx
  client/components/profile/SavedRouteItemClient.tsx
  client/components/profile/SavedRoutes.tsx
  client/components/routes/RouteDiscoveryPanel.tsx
  client/components/saved-routes/SavedRoutesView.tsx
Due: prettier --write, npm --prefix client run lint:fix --

feat: Implement a dedicated modal for saving routes with naming and enhance route comparison card UI with a "Best for Health" tag and dynamic AQI styling.
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/components/home/HomeMap.tsx
  client/components/routes/InsightToast.tsx
  client/components/routes/MapControls.tsx
  client/components/routes/RouteComparisonPanel.tsx
  client/components/routes/RouteDiscoveryPanel.tsx
  client/components/saved-routes/EmptyState.tsx
  client/components/saved-routes/RouteInsightsPanel.tsx
  client/components/saved-routes/SavedRoutesList.tsx
  client/components/saved-routes/SavedRoutesView.tsx
  client/proxy.ts
Due: prettier --write, npm --prefix client run lint:fix --

feat: add Vercel deployment URL to CORS allowed origins.
  server/src/index.ts
Due: prettier --write, npm --prefix server run lint:fix --

fix: Update refreshToken cookie settings to use `sameSite=lax` and specify domain.
  server/src/controllers/oauth.controllers.ts
Due: prettier --write, npm --prefix server run lint:fix --

feat: Add public About and Features pages, introduce Navbar and SavedRouteItemClient components, and configure Next.js image domains.
  client/app/(public)/about/page.tsx
  client/app/(public)/features/page.tsx
  client/components/landing/Navbar.tsx
  client/components/profile/SavedRouteItemClient.tsx
  client/next.config.ts
Due: prettier --write, npm --prefix client run lint:fix --

feat: Add a new About Us page and a SavedRouteItemClient component.
  client/app/(public)/about/page.tsx
  client/components/profile/SavedRouteItemClient.tsx
Due: prettier --write, npm --prefix client run lint:fix --

docs: Add initial README with project overview, key features, tech stack and setup instructions (#11)
  README.md
Due: prettier --write

feat: Add public About and Features pages, introduce Navbar and SavedRouteItemClient components, and configure Next.js image domains. (#12)
  client/app/(public)/about/page.tsx
  client/app/(public)/features/page.tsx
  client/components/landing/Navbar.tsx
  client/components/profile/SavedRouteItemClient.tsx
  client/next.config.ts
Due: prettier --write, npm --prefix client run lint:fix --

feat: Add loading UIs for public and private routes and refactor profile saved routes data fetching to improve performance.
  README.md
  client/app/(private)/loading.tsx
  client/app/(private)/profile/page.tsx
  client/app/(public)/about/page.tsx
  client/app/(public)/loading.tsx
  client/components/home/HomeMap.tsx
  client/components/landing/Navbar.tsx
  client/components/profile/SavedRoutes.tsx
  client/components/saved-routes/SavedRoutesView.tsx
  client/next.config.ts
Due: prettier --write, npm --prefix client run lint:fix --

feat: Implement server-side utilities for computing weather, AQI, and traffic data to generate scores, along with a new score controller.
  client/components/home/HomeMap.tsx
  server/src/controllers/score.controller.ts
  server/src/utils/compute/aqi.compute.ts
  server/src/utils/compute/score.compute.ts
  server/src/utils/compute/traffic.compute.ts
  server/src/utils/compute/weather.compute.ts
Due: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

feat: implement initial landing page with navigation, mission, how it works, team, and testimonials sections.
  client/app/page.tsx
  client/components/landing/HowItWorks.tsx
  client/components/landing/Mission.tsx
  client/components/landing/Navbar.tsx
  client/components/landing/Team.tsx
  client/components/landing/Testimonials.tsx
Due: prettier --write, npm --prefix client run lint:fix --

feat: implement initial landing page with navigation, mission, how it works, team, and testimonials sections. (#14)
  client/app/page.tsx
  client/components/landing/HowItWorks.tsx
  client/components/landing/Mission.tsx
  client/components/landing/Navbar.tsx
  client/components/landing/Team.tsx
  client/components/landing/Testimonials.tsx
Due: prettier --write, npm --prefix client run lint:fix --

feat: Implement route scoring API including breakpoint calculation and weather data fetching utilities.
  .gitignore
  server/src/controllers/score.controller.ts
  server/src/index.ts
  server/src/routes/score.routes.ts
  server/src/utils/compute/breakPoint.compute.ts
  server/src/utils/compute/weather.compute.ts
Due: prettier --write, npm --prefix server run lint:fix --

feat: Implement API for route score calculation considering weather and traffic.
  server/package-lock.json
  server/package.json
  server/src/controllers/score.controller.ts
  server/src/routes/score.routes.ts
  server/src/utils/compute/breakPoint.compute.ts
  server/src/utils/compute/weather.compute.ts
Due: prettier --write, npm --prefix server run lint:fix --

feat: Implement route scoring API including breakpoint calculation and weather data fetching utilities. (#15)
  .gitignore
  server/package-lock.json
  server/package.json
  server/src/controllers/score.controller.ts
  server/src/index.ts
  server/src/routes/score.routes.ts
  server/src/utils/compute/breakPoint.compute.ts
  server/src/utils/compute/weather.compute.ts
Due: prettier --write, npm --prefix server run lint:fix --

feat: Add comprehensive route health scores and traffic details to the comparison panel with loading states, and refine map style updates.
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/components/routes/RouteComparisonPanel.tsx
  client/components/routes/RouteMapBackground.tsx
Due: prettier --write, npm --prefix client run lint:fix --

refactor: Consolidate route styling and map bounds fitting into a single effect, optimizing bounds updates to only occur when geometry changes.
  client/components/routes/RouteMapBackground.tsx
Due: prettier --write, npm --prefix client run lint:fix --

feat: Refine best route selection logic to prioritize highest score then fastest duration, and update route labels and score display colors accordingly.
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/components/routes/RouteComparisonPanel.tsx
Due: prettier --write, npm --prefix client run lint:fix --

feat: Integrate Air Quality Index (AQI) data into route comparison feature
  AQI_QUICK_START.md
  AQI_TESTING_GUIDE.md
  AQI_UI_VISUAL_GUIDE.md
  FRONTEND_AQI_GUIDE.md
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/components/routes/RouteComparisonPanel.tsx
  server/src/controllers/oauth.controllers.ts
  server/src/controllers/score.controller.ts
  server/src/utils/compute/aqi.compute.ts
  server/src/utils/compute/breakPoint.compute.ts
Due: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

Path conditions:
  prettier --write: ((((any of: client/**/*.{ts,tsx,js,jsx}) or (any of: server/**/*.{ts,tsx,js,jsx})) or (any of: *.{json,md,mdx,css,scss})) or (any of: client/**/*.{json,md,mdx,css,scss})) or (any of: server/**/*.{json,md,mdx,css,scss})
  npm --prefix client run lint:fix --: any of: client/**/*.{ts,tsx,js,jsx}
  npm --prefix server run lint:fix --: any of: server/**/*.{ts,tsx,js,jsx}
