Repository GURUDAS-DEV/BreathClean: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

.lintstagedrc.json:

{
  "client/**/*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "npm --prefix client run lint:fix --"
  ],
  "server/**/*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "npm --prefix server run lint:fix --"
  ],
  "*.{json,md,mdx,css,scss}": ["prettier --write"],
  "client/**/*.{json,md,mdx,css,scss}": ["prettier --write"],
  "server/**/*.{json,md,mdx,css,scss}": ["prettier --write"]
}

refactor: Remove outdated AQI documentation and guides
  AQI_QUICK_START.md
  AQI_TESTING_GUIDE.md
  AQI_UI_VISUAL_GUIDE.md
  FRONTEND_AQI_GUIDE.md
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/components/routes/RouteComparisonPanel.tsx
  server/src/controllers/oauth.controllers.ts
  server/src/controllers/score.controller.ts
  server/src/utils/compute/aqi.compute.ts
Due: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

feat: Integrate Air Quality Index (AQI) data into route comparison feature (#16)
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/components/routes/RouteComparisonPanel.tsx
  server/src/controllers/oauth.controllers.ts
  server/src/controllers/score.controller.ts
  server/src/utils/compute/aqi.compute.ts
  server/src/utils/compute/breakPoint.compute.ts
Due: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

chore: Remove verbose console logs, refine error logging, and update .gitignore.
  .gitignore
  server/src/controllers/oauth.controllers.ts
  server/src/utils/compute/aqi.compute.ts
  server/src/utils/compute/breakPoint.compute.ts
  server/src/utils/compute/weather.compute.ts
Due: prettier --write, npm --prefix server run lint:fix --

docs: Rewrite README with comprehensive project documentation
  README.md
Due: prettier --write

feat: Setup Django Project and setup api app and a testing router
  data-processing/dataProcessingServer/api/__init__.py
  data-processing/dataProcessingServer/api/__pycache__/__init__.cpython-313.pyc
  data-processing/dataProcessingServer/api/__pycache__/admin.cpython-313.pyc
  data-processing/dataProcessingServer/api/__pycache__/apps.cpython-313.pyc
  data-processing/dataProcessingServer/api/__pycache__/models.cpython-313.pyc
  data-processing/dataProcessingServer/api/__pycache__/urls.cpython-313.pyc
  data-processing/dataProcessingServer/api/__pycache__/views.cpython-313.pyc
  data-processing/dataProcessingServer/api/admin.py
  data-processing/dataProcessingServer/api/apps.py
  data-processing/dataProcessingServer/api/migrations/__init__.py
  data-processing/dataProcessingServer/api/migrations/__pycache__/__init__.cpython-313.pyc
  data-processing/dataProcessingServer/api/models.py
  data-processing/dataProcessingServer/api/tests.py
  data-processing/dataProcessingServer/api/urls.py
  data-processing/dataProcessingServer/api/views.py
  data-processing/dataProcessingServer/dataProcessingServer/__init__.py
  data-processing/dataProcessingServer/dataProcessingServer/__pycache__/__init__.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/__pycache__/settings.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/__pycache__/urls.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/__pycache__/wsgi.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/asgi.py
  data-processing/dataProcessingServer/dataProcessingServer/settings.py
  data-processing/dataProcessingServer/dataProcessingServer/urls.py
  data-processing/dataProcessingServer/dataProcessingServer/wsgi.py
  data-processing/dataProcessingServer/db.sqlite3
  data-processing/dataProcessingServer/manage.py
Due: none

feat: Revamp landing page UI with updated button styles, new "How It Works" content, and a dedicated phone UI image.
  client/components/landing/CTA.tsx
  client/components/landing/Hero.tsx
  client/components/landing/HowItWorks.tsx
  client/components/landing/Navbar.tsx
  client/components/landing/Team.tsx
  client/public/phone_ui.webp
Due: prettier --write, npm --prefix client run lint:fix --

feat: Implement a data processing server and scheduler for dynamic route environmental scoring, integrated with client UI.
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  data-processing/dataProcessingServer/api/pathway/pipeline.py
  data-processing/dataProcessingServer/api/pathway/transformers.py
  data-processing/dataProcessingServer/api/views.py
  data-processing/dataProcessingServer/dataProcessingServer/settings.py
  data-processing/dataProcessingServer/dataProcessingServer/urls.py
  data-processing/dataProcessingServer/requirements.txt
  server/package.json
  server/src/Schema/breakPoints.ts
  server/src/controllers/savedRoutes.controllers.ts
  server/src/index.ts
  server/src/utils/redis.ts
  server/src/utils/scheduler/computeData.scheduler.ts
  server/src/utils/scheduler/pathwayClient.ts
Due: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

feat: Add data processing pipeline for route score computation using Pathway with Python fallback and integrate with client and server components.
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  data-processing/dataProcessingServer/api/pathway/pipeline.py
  data-processing/dataProcessingServer/api/pathway/transformers.py
  data-processing/dataProcessingServer/api/views.py
  data-processing/dataProcessingServer/requirements.txt
  server/src/controllers/savedRoutes.controllers.ts
Due: prettier --write, npm --prefix client run lint:fix --, npm --prefix server run lint:fix --

chore: Specify Python runtime version 3.11.9 in runtime.txt
  data-processing/dataProcessingServer/runtime.txt
Due: none

feat: Add Redis caching for computed route scores using a deterministic key and a time-to-live.
  package-lock.json
  package.json
  server/src/controllers/score.controller.ts
Due: prettier --write, npm --prefix server run lint:fix --

feat: add project dependencies
  data-processing/dataProcessingServer/requirements.txt
Due: none

feat: add STATIC_ROOT setting to configure static files directory
  data-processing/dataProcessingServer/dataProcessingServer/settings.py
Due: none

feat: update requirements to include gunicorn for production server
  data-processing/dataProcessingServer/requirements.txt
Due: none

feat: update ALLOWED_HOSTS configuration and requirements for Django version compatibility
  data-processing/dataProcessingServer/api/__pycache__/urls.cpython-313.pyc
  data-processing/dataProcessingServer/api/__pycache__/views.cpython-313.pyc
  data-processing/dataProcessingServer/api/pathway/__pycache__/__init__.cpython-313.pyc
  data-processing/dataProcessingServer/api/pathway/__pycache__/pipeline.cpython-313.pyc
  data-processing/dataProcessingServer/api/pathway/__pycache__/transformers.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/__pycache__/settings.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/__pycache__/urls.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/settings.py
  data-processing/dataProcessingServer/requirements.txt
Due: none

fix: revert Django version to 5.2.11 and clean up requirements
  data-processing/dataProcessingServer/requirements.txt
Due: none

feat: enhance ALLOWED_HOSTS configuration to support multiple host sources
  data-processing/dataProcessingServer/dataProcessingServer/__pycache__/settings.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/settings.py
Due: none

feat: Implement initial setup for Django data processing server and Express API server with data computation scheduler.
  data-processing/dataProcessingServer/dataProcessingServer/__pycache__/settings.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/settings.py
  data-processing/dataProcessingServer/requirements.txt
  server/src/index.ts
  server/src/utils/scheduler/computeData.scheduler.ts
Due: prettier --write, npm --prefix server run lint:fix --

feat: Implement initial setup for Django data processing server and Express API server with data computation scheduler. (#18)
  data-processing/dataProcessingServer/api/__pycache__/urls.cpython-313.pyc
  data-processing/dataProcessingServer/api/__pycache__/views.cpython-313.pyc
  data-processing/dataProcessingServer/api/pathway/__pycache__/__init__.cpython-313.pyc
  data-processing/dataProcessingServer/api/pathway/__pycache__/pipeline.cpython-313.pyc
  data-processing/dataProcessingServer/api/pathway/__pycache__/transformers.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/__pycache__/settings.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/__pycache__/urls.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/settings.py
  data-processing/dataProcessingServer/requirements.txt
  data-processing/dataProcessingServer/runtime.txt
  server/src/index.ts
  server/src/utils/scheduler/computeData.scheduler.ts
Due: prettier --write, npm --prefix server run lint:fix --

feat: switch scheduler from node-cron to setInterval with configurable interval.
  server/src/utils/scheduler/computeData.scheduler.ts
Due: prettier --write, npm --prefix server run lint:fix --

feat:added debug statement
  data-processing/dataProcessingServer/api/__pycache__/views.cpython-313.pyc
  data-processing/dataProcessingServer/api/views.py
Due: none

feat: Implement retry logic and configurable timeout for AQI data fetching.
  server/src/utils/compute/aqi.compute.ts
Due: prettier --write, npm --prefix server run lint:fix --

feat: Enhance PathwayClient logging with request details, success messages, and more specific error information for various failure cases.
  server/src/utils/scheduler/pathwayClient.ts
Due: prettier --write, npm --prefix server run lint:fix --

feat: enhance sendToPathway function with retry logic and configurable timeout
  server/src/utils/scheduler/pathwayClient.ts
Due: prettier --write, npm --prefix server run lint:fix --

feat: enhance sendToPathway function with retry logic and configurable timeout
  data-processing/dataProcessingServer/api/__pycache__/middleware.cpython-313.pyc
  data-processing/dataProcessingServer/api/middleware.py
  data-processing/dataProcessingServer/api/pathway/__pycache__/pipeline.cpython-313.pyc
  data-processing/dataProcessingServer/api/pathway/pipeline.py
  data-processing/dataProcessingServer/dataProcessingServer/__pycache__/settings.cpython-313.pyc
  data-processing/dataProcessingServer/dataProcessingServer/settings.py
Due: none

feat: Add map controls for zoom and locate, and integrate Google Maps navigation.
  client/app/(private)/home/routes/(from)/(to)/page.tsx
  client/components/home/HomeMap.tsx
  client/components/routes/MapControls.tsx
  client/components/routes/RouteDiscoveryPanel.tsx
  client/components/routes/RouteMapBackground.tsx
  client/components/saved-routes/RouteInsightsPanel.tsx
  client/components/saved-routes/SavedRouteCard.tsx
  client/components/saved-routes/types.ts
Due: prettier --write, npm --prefix client run lint:fix --

feat: Introduce route saving, environmental data computation, and scoring functionalities with a new data processing API.
  data-processing/dataProcessingServer/api/__pycache__/views.cpython-313.pyc
  data-processing/dataProcessingServer/api/views.py
  server/src/Schema/breakPoints.ts
  server/src/Schema/route.schema.ts
  server/src/controllers/savedRoutes.controllers.ts
  server/src/controllers/score.controller.ts
  server/src/index.ts
  server/src/routes/savedRoutes.routes.ts
  server/src/routes/score.routes.ts
  server/src/utils/compute/aqi.compute.ts
  server/src/utils/compute/breakPoint.compute.ts
  server/src/utils/compute/score.compute.ts
  server/src/utils/compute/traffic.compute.ts
  server/src/utils/compute/weather.compute.ts
  server/src/utils/scheduler/computeData.scheduler.ts
  server/src/utils/scheduler/pathwayClient.ts
Due: prettier --write, npm --prefix server run lint:fix --
